// -------------------
//    Colors
// -------------------
$primary-color: #1ba5cd; 
$secondary-color: #473452;
$tertiary-color: #30383b;
$quaternary-color: white;


// -------------------
//    Typography 
// -------------------
$base-font-size: 16px;
$font-primary: "Roboto", Helvetica, sans-serif;
$font-secondary: "Bellota", "Bellota text", serif;