.main-footer {
    img {}

    .container-content {

        .menu-custom {

            .main-menu-item {
                

                a {
                    text-decoration: none;
                    color: $secondary-color;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

        }

    }

    p.footer-text {}
}