.reservation {

    .container-fluid {
        padding: 0;


        img {

            display: none;

        }

        .container-content {

            flex-basis: 100%;
            background-color: $primary-color;
            margin: 0;
            justify-content: center;

            .reservation-form {

                width: 85%;

                .form-row {

                    input,
                    textarea,
                    select {


                        background-color: $primary-color;
                        border: none;
                        border-bottom: 1px solid $quaternary-color;
                        border-radius: 0;
                        color: $quaternary-color;
                        text-transform: uppercase;
                        margin-top: 35px;

                        &::placeholder {

                            color: $quaternary-color;
                            text-transform: uppercase;

                        }

                    }

                }

                .submit-button {

                    background-color: $quaternary-color;
                    color: $secondary-color;
                    font-weight: bold;
                    margin-top: 35px;
                }

            }

        }

    }

}


@media (min-width: 992px) {


    .reservation {

        .container-fluid {



            img {

                width: 40%;

            }

            .container-content {

                width: 60%;
                justify-content: left;

                .reservation-form {

                    width: 60%;
                    margin-left: 6.66%;

                }

            }

        }

    }


}